body {
    background: #404b69;
}

div {
    text-align: center;
}

form {
    position: absolute;
    width: 220px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.form-control, span, a {
    color: white;
    background-color: #404b69;
}

.validation-message {
    color: rgb(255,145,148);
    font-weight: 600;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: white;
    border: 1px solid white;
    padding: 5px 30px;
    display: inline-block;
    width: auto;
    margin: 20px;
    transition: all .5s;
}

    a:hover {
        color: white;
        border-radius: 30px;
        transition: border-radius .5s;
        text-decoration: none;
    }

.btn {
    color: white;
    background: #00818A;
    padding: 5px 50px;
    border-radius: 30px;
    transition: all .4s;
    outline: none !important;
}

    .btn:hover {
        color: white;
        transition: background .4s;
        background: #00949E;
    }

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 20px #404b69 !important;
    -webkit-text-fill-color: white !important;
    color: white !important;
    transition: all 0s;
}
