@{
    ViewBag.Title = "Главная страница";
}

@section Body
{
    <div class="main-information">
        <h4>
            Главная страница. Данный сайт является тестовым. <br/>
            Был создан в целях ознакомления с технологиями ASP.NET MVC и Entity Framework.<br/>
            Были реализованы 2 категории товаров (Системы охлажедния и Корпуса)
        </h4>
        <h4>Used technologies:</h4>
            <ol>
                <li>
                    .Net Framework(C#) - implemeted:
                    <ul>
                        <li>Testing (NUnit)</li>
                        <li>Inversion of control (DI Ninject)</li>
                        <li>Server-side validation</li>
                        <li>Multithreading (Async/await)</li>
                    </ul>
                </li>
                <li>
                    ASP.NET MVC - implemeted:
                    <ul>
                        <li>ASP.NET Identity(authentication, authorization)</li>
                        <li>Unobtrusive AJAX</li>
                        <li>Content stylization</li>
                        <li>Shopping Cart</li>
                        <li>Spliting content into pages</li>
                        <li>Confirm orders</li>
                        <li>Admin panel</li>
                        <li>Filtering and sorting products</li>
                        <li>Searching products</li>
                    </ul>
                </li>
                <li>Entity Framework, ADO.NET</li>
            </ol>     
    </div>
}